html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  text-align: left;
  max-height: 75vh;
  max-height: 500px;
  overflow: hidden;
}

.banner img {
  width: 100%;
}

.banner-content {
  width: 100%;
  position: absolute;
  bottom: 2.5em;
  left: 50%;
  max-width: 50em;
  transform: translateX(-50%);
  padding-left: 2em;
}

h2 {
  font-size: 4rem;
  line-height: 1.4;
  color: #fff;
  margin: 0;
}

span {
  background-color: rgba(0, 0, 0, .5);
}

p {
  font-size: 2rem;
  font-style: italic;
  margin: 0;
  padding-top: 1rem;
}
